<div class="page-container">
  <mat-card>
    <h2>Conditions: Basics</h2>
    <p>Conditions... are almost always bad. You will sooner than later get more negative conditions than positive, and that means a trip to the infirmary.</p>
    <p>Almost all of these occur as a result of rng during events, or from failing a training. However, not all statuses are created equal, and I've decided to categorize them into the good, bad, and ugly (as all 3 category guides are legally required to do). I have also put little explanations and warnings behind them.</p>
    <p>Caution; This is not an exhaustive list of all conditions, and only uses the ones I have experienced and grown accustomed to.</p>

    <h3>The good</h3>
    <p>It's obvious when a condition is good. They slap a massive label on screen, and you get to smile. Not all are amazing, but they never are something to frown at.</p>
    <ul>
      <li><b>Charming ○:</b> The best, in my experience. it increases the gain of friendship by 2 points. A minor boost, but the difference between 7 and 9 is worlds apart in my opinion.</li>
      <li><b>Practice Perfect ○/◎:</b> Not a spectacular increase in fail chances, only 2/4% respectively for the condition's tier. still, it can be good, especially when it happens as a result of fixing a practice poor.</li>
      <li><b>*Sharp (Fast Learner in EN):</b> seems absurdy amazing, with the promise of a 10% skill cost reduction. I do not know if it can go over the 40% hint discount maximum, but either way it's still an amazing condition.</li>
      <li><b>*Hot Topic:</b> Considering how hard it is to raise Akikawa and Otonashi's friendships, as they recieve lower values (in my experience), this condition's fairly good.</li>
    </ul>
    <p><i>*I have yet to encounter Sharp or Hot Topic in game, and am using the uma musume wiki.</i></p>

    <h3>The Bad</h3>
    <p>Now, i've harped on this before, but it's important to not fret over EVERY condition. not everything needs instant fixing, and sometimes it's better to go with a friendship training, or even get a +10 skill or recreation out of the way depending on the timing and career, over a really minor debuff.</p>
    <ul>
      <li><b>Practice Poor:</b> This is most evident with "practice poor". despite its scary name, it still doesn't do much on its own. it increases all fail chances by 2%. that's really it.</li>
      <li><b>Insomnia:</b> not a game breaker, but proves to be an annoyance. Randomly, you will lose a bit of energy, nothing major but still enough to occasionally throw a wrench in your plans. Best to get rid of it asap, but if you're under a time crunch you can delay it with a turn or two of training. This training also can be removed by good rng when resting (gaining 70 energy in one rest).</li>
      <li><b>Migraine:</b> depending on your current mood, it can be extremely bad. Without the Great mood's 1.2x modifier to stats, I weep. But if your stats are already overblown, and you're not afraid of a more iffy win, then even a normal mood is fine for a race with migraine.</li>
      <li><b>*Dry Skin:</b> another weird condition, this one will randomly decrease your mood if the condition still lasts. I haven't experenced this one in the game yet, but it's not something I would fear too much, especially if it's close to race day. Mood buffs from training and from random events can sometimes just negate it completely.</li>
    </ul>

    <h3>The Ugly</h3>
    <ul>
      <li><b>Slow Metabolism:</b> This completely stops any increase in speed. With speed being the most crucial stat, this is effectively an open threat to any victory you might want to achieve. However, if your speed is high, then you can demolish this trait by training other stats instead.</li>
      <li><b>Slacker:</b> This is the game ender of conditions, solely for the fact that it can sometimes not go away in one visit to the infirmary. This is especially terrible if it happens in june of the 2nd or 3rd year, as it can completely obliterate any chance of summer camp training. The only upside is that training with Etsuko can slap this condition away as well.</li>
      <li><b>*Non-Distance Reduction (debuff):</b> According to Goddessofthewind, this skill moderately reduces performance on any race with a distance that isn't divisible by 400m. For some campaigns, this is atrocious, while for others (like vodka) this isn't as bad. still, a moderate debuff for the occasional 2200m med is going to end a run if you aren't overprepared.</li>
    </ul>

    <h3>Conclusion</h3>
    <p>Fear the Ugly, be wary of the Bad, and embrace the Good.</p>
    <p>Origin: <a href="https://www.reddit.com/r/UmaMusume/comments/1lug709/conditions_and_you_a_brief_guide/" target="_blank" rel="noopener noreferrer">https://www.reddit.com/r/UmaMusume/comments/1lug709/conditions_and_you_a_brief_guide/</a></p>
  </mat-card>
</div>
