<mat-toolbar color="primary" class="uma-header">
  <div class="chibi-container" [ngStyle]="{
    'background-image': 'url(assets/chibis-removebg-preview.png)',
    'width.px': currentChibi().width,
    'height.px': currentChibi().height,
    'background-position': '-' + currentChibi().x + 'px -' + currentChibi().y + 'px'
  }"></div>
  <span class="header-title">UmaHelper</span>
  <div class="nav-container">
    <button mat-button class="nav-button" routerLink="/news">News</button>
    <button mat-button class="nav-button" routerLink="/trainees">Trainees</button>
    <button mat-button class="nav-button" routerLink="/support-cards">Support Cards</button>
    <button mat-button class="nav-button" routerLink="/useful-info">Useful Info</button>
  </div>
  <div class="auth-container">
    @if (authService.user$ | async; as user) {
      <button mat-icon-button class="auth-button" [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item disabled>Hello, {{ user.displayName }}</button>
        <button mat-menu-item (click)="authService.logout()">Logout</button>
      </mat-menu>
    } @else {
      <button mat-raised-button class="auth-button" (click)="authService.loginWithGoogle()">Login with Google</button>
    }
  </div>
</mat-toolbar>

