.uma-header {
height: 8.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../../assets/library_hero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  position: relative;
}

.chibi-container {
  background-size: 600px 355px;
  border: 1px solid rgba(117, 229, 11, 0.96);
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.nav-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.uma-header button, .header-title {
  color: #FCE4EC;
}

.header-title {
  font-size: 1.8rem; /* Also make title a bit bigger */
  font-weight: bold;
}

.auth-button {
  font-size: 1.1rem;
}

.auth-button mat-icon {
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
}

.nav-button {
  font-size: 1.5rem;
  margin: 0 10px;
}

