:host {
  flex: 1;
  display: flex;
}

.page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.content-card {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-wrapper {
  flex-grow: 1;
}

mat-card-actions {
  justify-content: flex-end;
}
