<form [formGroup]="filterForm" class="filter-container">
  <mat-form-field class="name-filter-field">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Enter card name">
    @if (filterForm.get('name')?.value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="clearNameFilter()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <div class="rarity-filter-group">
    <label class="filter-group-label">Rarity</label>
    <div class="rarity-toggles">
      @for (rarityValue of rarityOptions; track rarityValue) {
        <button
          type="button"
          class="rarity-toggle-btn"
          [class.selected]="isRaritySelected(rarityValue)"
          [class.rarity-ssr]="rarityValue === Rarity.SSR"
          [class.rarity-sr]="rarityValue === Rarity.SR"
          [class.rarity-r]="rarityValue === Rarity.R"
          (click)="toggleRarity(rarityValue)">
          {{ rarityValue | rarity }}
        </button>
      }
    </div>
  </div>

  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select formControlName="type" multiple>
      <mat-select-trigger>
        <div class="selected-types-container">
          @for (cardType of filterForm.get('type')?.value || []; track cardType) {
            <img [src]="'assets/types/' + cardType.toLowerCase() + '.png'" [alt]="cardType" width="24" class="selected-type-image">
          }
        </div>
      </mat-select-trigger>
      @for (cardType of Object.values(SupportCardType); track cardType) {
        <mat-option [value]="cardType">
          <img [src]="'assets/types/' + cardType.toLowerCase() + '.png'" [alt]="cardType" width="24">
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Effect</mat-label>
    <mat-select formControlName="effectId">
      <mat-option value="">All</mat-option>
      @for (effect of allEffects(); track effect.id) {
        <mat-option [value]="effect.id" [title]="effect.tooltip">{{ effect.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="operator-field">
    <mat-label>Operator</mat-label>
    <mat-select formControlName="operator">
      @for (op of operatorOptions; track op.value) {
        <mat-option [value]="op.value">{{ op.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Value</mat-label>
    <input matInput type="number" formControlName="value" placeholder="Enter value">
  </mat-form-field>

  <mat-checkbox formControlName="showUpcomingCards">Show Upcoming Cards</mat-checkbox>

  <button mat-raised-button type="button" (click)="resetFilters()">Reset Filters</button>
  <button mat-raised-button type="button" (click)="openRatingsModal()">Ratings</button>
</form>

<app-data-grid
  [data]="filteredData()"
  [columns]="visibleColumns()"
  [multiSort]="true"
  [rarityLevelMap]="rarityLevelMap"
  [pageSize]="20"
  [isFirstTab]="isFirstTab()"
  [addMenu]="addMenu()"
  [tabIndex]="tabIndex()"
  [isActive]="isActive()"
  (levelChanged)="onLevelChanged($event)"
  (imageClick)="openImageModal($event)"
  (setAllToMax)="onSetAllFilteredToMax()"
  (addClicked)="onAdd($event)"
  (removeClicked)="onRemove($event)"
></app-data-grid>
