:host {
  flex: 1;
  display: flex;
}

.news-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.news-content {
  flex-grow: 1;
}

.admin-card {
  max-width: 800px;
  margin: 0 auto 1rem; /* Added bottom margin */
  background-color: #FFF0F5;
  width: 100%;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
