:host {
  flex: 1;
  display: flex;
}

.page-container {
  flex: 1;
  padding: 1rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.useful-info-card {
  width: 100%;
  background-color: #FFF0F5;
}

mat-card-subtitle {
  font-size: smaller;
  color: black;
}
