<div class="page-container">
  <h2>Support Cards</h2>

  <div class="tab-container">
    <mat-tab-group class="tab-group" animationDuration="0ms" [selectedIndex]="selectedTabIndex()" (selectedIndexChange)="onTabChange($event)">
      <mat-tab label="All Cards">
        <div class="tab-content">
          <div class="bulk-actions-container">
            <div class="left-buttons">
              <button
                matButton="outlined"
                color="primary"
                [matMenuTriggerFor]="addMenu"
                [disabled]="!hasSelectedCards()"
                matTooltip="Add selected cards to tab">
                <mat-icon>add</mat-icon>
                Add Selected
              </button>
            </div>
            <button matButton="filled" (click)="saveData()">Save Data</button>
          </div>
          <app-support-card-list-view
            [cards]="allCardsWithDefaults()"
            (add)="onAddCard($event)"
            [isFirstTab]="true"
            [addMenu]="addMenu"
            [tabIndex]="0"
            [isActive]="selectedTabIndex() === 0"
            (levelsChangedInFirstTab)="onSupportCardsWithLevelsChanged($event)"
          >
          </app-support-card-list-view>
        </div>
      </mat-tab>

      @for (tab of hydratedTabsData(); track $index) {
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab-label">
              <span>{{ tab.name }}</span>
              <button
                matIconButton
                class="close-tab-button"
                (click)="removeTab($event, $index)"
                matTooltip="Remove tab">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </ng-template>
          <div class="tab-content">
            <div class="bulk-actions-container">
              <div class="left-buttons">
                <button
                  matButton="outlined"
                  [disabled]="!hasSelectedCards()"
                  [matMenuTriggerFor]="addMenu"
                  matTooltip="Add selected cards to tab">
                  <mat-icon>add</mat-icon>
                  Add Selected
                </button>
                <button
                  matButton="outlined"
                  color="warn"
                  [disabled]="!hasSelectedCards()"
                  (click)="onBulkRemove($index)"
                  matTooltip="Remove selected cards from this tab">
                  <mat-icon>remove</mat-icon>
                  Remove Selected
                </button>
              </div>
              <button matButton="filled" color="warn" (click)="saveData()">Save Data</button>
            </div>
            <app-support-card-list-view
              [cards]="tab.cards"
              [filterState]="tabFilters().get($index) || null"
              [tabIndex]="$index + 1"
              [isActive]="selectedTabIndex() === $index + 1"
              (levelChangedInTab)="onLevelChangedInDynamicTab($index, $event)"
              (add)="onAddCard($event)"
              (remove)="onRemoveCard($index, $event)"
              (filterChanged)="onFilterChanged($index, $event)"
              (levelsChangedInFirstTab)="onSupportCardsWithLevelsChanged($event)"
              [addMenu]="addMenu">
            </app-support-card-list-view>
          </div>
        </mat-tab>
      }
    </mat-tab-group>

    <button mat-icon-button (click)="addTab()" class="add-tab-button" matTooltip="Add new tab">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<mat-menu #addMenu="matMenu">
  @for (tab of availableTabs(); track tab.index) {
    <button mat-menu-item (click)="addCardToTab(selectedCard(), tab.index)">{{ tab.name }}</button>
  }
</mat-menu>
