:host {
  flex: 1;
  display: flex;
}

.page-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.name-filter-field {
  width: 300px; /* Make name filter wider */
}

.operator-field {
  width: 100px;
}

.selected-types-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.selected-type-image {
  display: inline-block;
}
