/*@import '@angular/material/prebuilt-themes/pink-bluegrey.css';*/
@import 'ng-primitives/example-theme/index.css';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.skill-tooltip {
  white-space: pre-wrap;
  background-color: #616161;
  color: white;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  max-width: 800px;
}

.hover {
  cursor: pointer;
}

.help {
  cursor: help;
}

.locked-effect {
  color: grey;
  font-style: italic;
  font-size: 0.8em;
}

.unique-effect {
  color: #DAA520; /* Brown-golden color */
}

.text-center {
  text-align: center;
}

.snackbar-success {
  --mat-snack-bar-container-color: #2e7d32; /* Green background */
  /*--mat-snack-bar-supporting-text-color: #ffffff; !* White text *!*/
  /*--mat-snack-bar-button-color: #ffffff;         !* White action button *!*/
}

.snackbar-error {
  --mat-snack-bar-container-color: #d32f2f; /* Red background */
  /*--mdc-snackbar-supporting-text-color: #ffffff; !* White text *!*/
  /*--mat-snack-bar-button-color: #ffffff;         !* White action button *!*/
}

.snackbar-warning {
  --mat-snack-bar-container-color: #ed6c02; /* Red background */
  /*--mdc-snackbar-supporting-text-color: #ffffff; !* White text *!*/
  /*--mat-snack-bar-button-color: #ffffff;         !* White action button *!*/
}

// makes mat-icons vertically centered
mat-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

// Angular primitives tooltips styles
[ngpTooltip] {
  z-index: 9999;      // needed!
  position: absolute;
  max-width: 16rem;
  border-radius: 0.5rem;
  background-color: var(--ngp-background-inverse);
  padding: 0.5rem 0.75rem;
  border: none;
  font-size: 0.75rem;
  font-weight: 510;
  color: var(--ngp-text-inverse);
  animation: tooltip-show 200ms ease-in-out;
  transform-origin: var(--ngp-tooltip-transform-origin);
}
[ngpTooltip][data-exit] {
  animation: tooltip-hide 200ms ease-in-out;
}
[ngpTooltipArrow] {
  position: absolute;
  pointer-events: none;
  background-color: var(--ngp-background-inverse);
  width: 8px;
  height: 8px;
  border-radius: 2px;
  transform: rotate(45deg);
}
[ngpTooltipArrow][data-placement="top"] {
  top: calc(100% - 5px);
}
[ngpTooltipArrow][data-placement="bottom"] {
  bottom: calc(100% - 5px);
}
@keyframes tooltip-show {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes tooltip-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
