@if (!simpleView) {
  <mat-card class="skill-card">
    <div class="skill-icon-wrapper">
      <ik-image [path]="'/skills/' + skill.iconid + '.png'" [transformation]="[{'height': '40', 'width': '40'}]">
      </ik-image>
    </div>
    <div class="skill-info">
      <div class="skill-name">{{ skill.name_en }}</div>
      <div class="skill-desc">{{ skill.desc_en }}</div>
    </div>
    <button mat-icon-button class="skill-details-button" (click)="openSkillDialog(skill)">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card>
} @else {
  <span class="simple-skill-view" (click)="openSkillDialog(skill)">
    {{ skill.name_en }}
  </span>
}
